{% load velora_data %}{% comment %}
CSS: .velora-table-wrapper, .velora-table, .velora-table--selectable, .velora-table__th, .velora-table__td, .velora-table__select-master, .velora-table__select-row
{% endcomment %}
<div class="velora-table-wrapper">
    <table class="velora-table {{ extra_class }}{% if selectable %} velora-table--selectable{% endif %}"
           {% if id %}id="{{ id }}"{% endif %}
           {% if selectable %}data-velora-table-selectable="1"{% endif %}>
        <thead>
            <tr>
                {% if selectable %}
                <th scope="col" class="velora-table__th velora-table__th--checkbox">
                    <input type="checkbox"
                           class="velora-table__select-master"
                           aria-label="Seleziona tutte le righe">
                </th>
                {% endif %}
                {% for header in headers %}
                <th
                    scope="col"
                    class="velora-table__th {{ header.extra_class }}{% if header.align %} velora-table__cell--{{ header.align }}{% endif %}"
                    {% if header.width %}style="width: {{ header.width }}"{% endif %}>
                    {{ header.label }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr class="velora-table__row"
                {% if selectable %}data-row-id="{{ row_ids|index_or_empty:forloop.counter0 }}"{% endif %}>
                {% if selectable %}
                <td class="velora-table__td velora-table__td--checkbox">
                    <input type="checkbox"
                           class="velora-table__select-row"
                           value="{{ row_ids|index_or_empty:forloop.counter0 }}"
                           aria-label="Seleziona riga">
                </td>
                {% endif %}
                {% for cell in row %}
                <td class="velora-table__td{% if cell.align %} velora-table__cell--{{ cell.align }}{% endif %}{% if cell.form_in_cell %} velora-table__td--editable{% endif %}">
                    {% if cell.form_in_cell %}
                        {% include "velora_ui/components/table/_form_in_cell.html" with fic=cell.form_in_cell display_value=cell.value %}
                    {% else %}
                        {{ cell.value }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% empty %}
            <tr class="velora-table__row velora-table__row--empty">
                <td class="velora-table__td velora-table__td--empty" colspan="{{ colspan }}">{{ empty_message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
