{% comment %}
CSS: .velora-submenu, .velora-submenu__title, .velora-submenu__list, .velora-submenu__item, .velora-submenu__link, .velora-submenu__label, .is-active
{% endcomment %}
{% if items %}
<nav class="velora-submenu {{ extra_class }}" aria-label="{% if title %}{{ title }}{% else %}Sotto-menu{% endif %}">
    {% if title %}
    <div class="velora-submenu__title">{{ title }}</div>
    {% endif %}
    <ul class="velora-submenu__list">
        {% for item in items %}
        <li class="velora-submenu__item{% if item.active %} is-active{% endif %}">
            <a class="velora-submenu__link {{ item.extra_class }}"
               href="{{ item.url }}"{% if item.active %} aria-current="page"{% endif %}>
                {% if item.icon %}<span class="velora-submenu__icon velora-icon velora-icon--{{ item.icon }}" aria-hidden="true"></span>{% endif %}
                <span class="velora-submenu__label">{{ item.label }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
