{% comment %}CSS: .velora-checkbox, .velora-checkbox--*, .velora-checkbox--align-*, .velora-checkbox__input, .velora-checkbox__box, .velora-checkbox__label, .is-disabled{% endcomment %}
{% if name %}
<label class="velora-checkbox velora-checkbox--{{ variant }} velora-checkbox--align-{{ align }}{% if disabled %} is-disabled{% endif %} {{ extra_class }}"
       for="{{ id }}">
    <input
        type="{{ input_type }}"
        name="{{ name }}"
        id="{{ id }}"
        class="velora-checkbox__input"
        value="{{ value }}"
        {% if checked %}checked{% endif %}
        {% if disabled %}disabled{% endif %}>
    <span class="velora-checkbox__box" aria-hidden="true"></span>
    {% if label %}<span class="velora-checkbox__label">{{ label }}</span>{% endif %}
</label>
{% endif %}
