{% comment %}CSS: .velora-form-row.velora-form-row--textarea, .velora-form-row__textarea, .velora-form-row__label, .velora-form-row__help, .velora-form-row__error, .velora-form-row--error{% endcomment %}
<div class="velora-form-row velora-form-row--textarea{% if error %} velora-form-row--error{% endif %} {{ extra_class }}">
    {% include "velora_ui/components/form_row/_label.html" %}
    <textarea
        name="{{ name }}"
        id="{{ id }}"
        class="velora-form-row__control velora-form-row__textarea"
        rows="{{ rows }}"
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        {% if required %}required{% endif %}
        {% if disabled %}disabled{% endif %}
        {% if autofocus %}autofocus{% endif %}>{{ value|default_if_none:"" }}</textarea>
    {% include "velora_ui/components/form_row/_help_error.html" %}
</div>
