{% comment %}
CSS: .velora-form-row.velora-form-row--timer, .velora-timer, .velora-timer__unit, .velora-timer__input, .velora-form-row__label, .velora-form-row__help, .velora-form-row__error, .velora-form-row--error
{% endcomment %}
<div class="velora-form-row velora-form-row--timer{% if error %} velora-form-row--error{% endif %} {{ extra_class }}">
    {% include "velora_ui/components/form_row/_label.html" %}
    <div class="velora-timer"
         data-velora-component="timer"
         data-units="{{ units_csv }}">
        {% for unit in units %}
        <div class="velora-timer__unit">
            <input
                type="number"
                class="velora-timer__field"
                data-unit="{{ unit.key }}"
                data-seconds="{{ unit.seconds }}"
                value="{{ unit.value }}"
                min="0"
                {% if unit.max %}max="{{ unit.max }}"{% endif %}
                {% if disabled %}disabled{% endif %}>
            <span class="velora-timer__suffix">{{ unit.suffix }}</span>
        </div>
        {% endfor %}
        <input
            type="hidden"
            name="{{ name }}"
            id="{{ id }}"
            class="velora-timer__hidden"
            value="{{ value_seconds }}">
    </div>
    {% include "velora_ui/components/form_row/_help_error.html" %}
</div>
